---
title: St Stephens Road
bodyClass: st-stephens-road
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">
  Steve Beasley/Lesley Sharpe, Mile End, London.
</div>
<p>
A collaboration with architect Steve Beasley to manufacture shelving units and panelled wall sections for their east london home.
</p>
<p>
	<img src="{{bodyClass}}-1.jpg">
</p>
<p>
	<img src="{{bodyClass}}-2.jpg">
</p>
<p>
	<img src="{{bodyClass}}-3.jpg">
</p>
<p>
	<img src="{{bodyClass}}-4.jpg">
</p>
