---
title: 6 Horton Street
bodyClass: horton-street
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">
  Freetown, Sierra Leone
</div>
<p>
  In 2016 my wife took up a volunteer position at Connaught Hospital (the main Government hospital) in Freetown with the King’s Sierra Leone Partnership.
</p>
<p>
  I went out without any scheduled work and fortunately, within a few months had met Catriona Forbes, a British architect working for the Princes Foundation. She invited me to teach a couple of short workshops on timber and construction during a two week programme which ran in December 2016. The idea was to train students of architecture/engineering and trade professionals to work together to create designs prior to undertaking three construction projects aligned with three charities: a birthing centre at Coconut Farm in the east of the city, a computer centre at Lifeline, Nineveh and the demolition and rebuild of a traditional Krio house which was used as a school on Horton street in the centre of Freetown.
</p>
<p>
  The trade professionals would hopefully be employed to work on the projects once they became live.
</p>
<p>
	<img src="{{bodyClass}}-1.jpg">
</p>
<p>
	<img src="{{bodyClass}}-2.jpg">
</p>
<p>
  I was employed to run the demolition and rebuild of the Krio House on Horton St. The building was over a hundred years old and was suffering from termite damage and a general lack of upkeep. My crew consisted of local workers, one of whom had attended the course (Brima). He had over twenty years experience of working in construction and together with Catriona we forged a great partnership.
</p>
<p>
  During the demolition, much of the wooden material which had no future use was given freely to the local community to use as fuel for cooking, anything of value but of no use to us was sold (the small amount raised split between the workers as a small bonus). People were very resourceful, all of the old corrugated iron roof pieces were used to patch up many of the local buildings. Whilst dismantling the house we uncovered the old fabrication techniques which were basic and a patchwork of materials, some even untouched by termites. Some Krio houses were apparently built from timber carried as ballast from boats which brought the freed slaves to Freetown from overseas. The ridge-beam was a fine, straight long piece of 8x2 pitch pine.
</p>
<p>
	<img src="{{bodyClass}}-3.jpg">
</p>
<p>
  New foundations were dug and a platform created from hydroform blocks (manufactured just outside the capital) in-between steel re-bar/cement columns, connected by a ring beam. Sand was sourced from dry river beds rather than the common usage of sand from beaches (mainly from along the peninsula, such sand has a high salt content and is also a cause of coastal erosion). Imported sand is not available, meaning you have to search for the ‘least worst’ solution.
</p>
<p>
	<img src="{{bodyClass}}-4.jpg">
</p>
<p>
  The foundation was designed/specified by a road engineer. The local crew felt that it was over engineered as it only had to support a two story timber house and the cost of producing it could have been a lot less and within a shorter time frame.
</p>
<p>
	<img src="{{bodyClass}}-5.jpg">
</p>
<p>
  Catriona had designed the new school house very much in line with the original (a sort of heritage project) but had maximised space within the plot which included an external staircase to allow more classroom space. A big consideration for the design was the maximum length of timber readily available - around 14 feet. Many Krio ‘board houses’ are replaced by concrete block buildings as they are deemed  more secure and fire resistant. People are worried about fire - a consideration for this being that a lot of cooking is done on an open charcoal stove, with much being deep fried in palm oil. We didn’t have that issue as there would be no cooking on the premises. A good reason for rebuilding in wood is that climatically timber doesn’t retain the heat from the sun in the same way that concrete does and ‘breathes’ which means the classrooms will be a lot cooler for the children to learn in. Insulation and heating are not a requirement as it is rarely cold in Freetown, although the temperature will drop a little during the Harmattan.
</p>
<p>
	<img src="{{bodyClass}}-6.jpg">
</p>
<p>
  The timber was sourced in stages; framing, cladding and finally doors & shutters. We used mainly Yemene (Gmelina arborea) for the structure and cladding with Iroko (Milicia regia) for the floorboards. Timber is unseasoned and you purchase it sawn (with a chain saw - there is no sawmill in the country since the civil war), any further machining (ripping or planning) is done at other local shops before delivery to site. Yemene dries out with good stability in the climate and takes nails well. Without local knowledge (or a high technical western understanding of timbers) you would have no idea how to navigate the timber market, also having a trusted local to negotiate prices yielded the best financial outcome.
</p>
<p>
	<img src="{{bodyClass}}-7.jpg">
</p>
<p>
	<img src="{{bodyClass}}-8.jpg">
</p>
<p>
  The house sides were built in frames on the raised slab foundation and even though they were quite large and heavy it took eight strong guys a few hours to erect the five frames. We used more noggins (horizontal bracing pieces between the vertical uprights) than I would normally use as the uprights were not very straight, so additional pieces helped create a strong and straight frame. They were also useful as ladder rungs to get up to the first floor (when it was not possible to borrow a ladder) before Brima made an actual ladder (from timber). Later on we installed bush stick scaffolding to aid the external cladding and roof work.
</p>
<p>
  Four triangular roof trusses were constructed to make a very solid roof, the completion of which was overseen by another ex-pat (British) carpenter called Ian Morris who stepped in for me during my trip back to the UK around late April 2017. Rainy season begins around July so we couldn’t let up our schedule. Once the roof beams and dormer windows were completed, Ian advised that we should clad the walls to give the house more rigidity, rather than fixing on the roof panels and creating a big sail.
</p>
<p>
	<img src="{{bodyClass}}-9.jpg">
</p>
<p>
	<img src="{{bodyClass}}-10.jpg">
</p>
<p>
	<img src="{{bodyClass}}-11.jpg">
</p>
<p>
  The cladding of the walls was completed in early June and the roof shortly after along with the doors and shutters. The windows didn’t need to be glazed/gauzed as the school was only in use during the day and Malaria carrying mosquitos only came out at night.
</p>
<p>
	<img src="{{bodyClass}}-12.jpg">
</p>
<p>
  On site our power tools consisted of a generator, a chop saw and skill saw which did most of the machining, but the unseasoned and tough timber caused a lot of problems and there were many times when things broke or became faulty, so we had to improvise, adjust plans and more often than not return to manual machining. A difficulty I personally had to overcome was working out in the heat and humidity, keeping hydrated and well (whilst also putting in a big effort everyday) was not easy.
</p>
<p>
  Following the first few rains, one of our crew would be absent for those days as his home at the wharf would be flooded and he would need to spend the day within his community clearing the floodwater and rubbish that would fill the watercourses. Refuse within the city was a big problem. To instil the importance of tidiness (a fundamental to site safety) and also time keeping, on my site there were fines for people dropping litter, along with being late. Needless to say we had a clean site (with minor injuries) and a prompt workforce.
</p>
<p>
  All our fixings were nailed or bolted through. Because of all the nailing, several hammer handles snapped as the quality of tools available was poor and although the heads of the hammers were ok, the handles were not, and needed to be repaired/replaced with bush stick. I taught as much maintenance as I could, resharpening nearly all hand saws (whatever the state) and honing chisels - trying to impart the importance of tool care, even though the tools were not the best. I left most of my tools (apart from my hammer) with the crew when I departed and sent some more out from the UK later on.
</p>
<p>
  Catriona designed hardware (hinges/bolts/catches) and commissioned a local metal fabricator to make most of them as anything found on the markets (often imported) was of very low quality.
</p>
<p>
	<img src="{{bodyClass}}-13.jpg">
</p>
<p>
	<img src="{{bodyClass}}-14.jpg">
</p>
<p>
	<img src="{{bodyClass}}-15.jpg">
</p>
<p>
	<img src="{{bodyClass}}-16.jpg">
</p>
<p>
  The electrician installed the cables in conduit very neatly, following the timber structure and also installed exterior security lighting for the night (for when there was electricity), this attracted much admiration and many people came to view the building after dark.
</p>
<p>
	<img src="{{bodyClass}}-17.jpg">
</p>
<p>
  Finance on a second building at the back of the plot had been promised so we also began to set out and pour columns and erecting posts from pepper wood (Schinus molle) for a three story timber schoolhouse designed by Catriona to complement the Krio style building we had just finished. The ground floor was an open playground with space for a toilet block and washing station (over a covered septic tank) with first and second floors each housing two classrooms.
</p>
<p>
	<img src="{{bodyClass}}-18.jpg">
</p>
<p>
  During rainy season (July-Oct) the rain is incessant and no construction takes place, so we paused until mid October to begin the rest of the framing. The additional pillars had been machined by Ian and were installed, mortised and a solid timber ring beam was bolted on and connected to the hydroform and concrete beam toilet block structure.
</p>
<p>
	<img src="{{bodyClass}}-19.jpg">
</p>
<p>
	<img src="{{bodyClass}}-20.jpg">
</p>
<p>
	<img src="{{bodyClass}}-21.jpg">
</p>
<p>
	<img src="{{bodyClass}}-22.jpg">
</p>
<p>
  The first floor was constructed and boarded and due to the small site, the only place to build the first floor wall frames was on the deck whilst in full sun. Fortunately we could rest and recover at ground level in the cool shade we had created under the boarded floor. First floor ceiling/second floor deck followed before top floor wall frames were again created in full sun, on a platform with far reaching views across Freetown to the sea and conversely up into the hills. It was at that point I realised that these kids will have amazing views during their school years which I’d have loved and which maybe they’ll take for granted and not truly appreciate!
</p>
<p>
	<img src="{{bodyClass}}-23.jpg">
</p>
<p>
  The second floor wall frames created the roof line so we managed to get up several of the rafters before my time in Freetown came to an end in mid December. Brima completed the construction of the roof and cladding of the walls with Catriona’s guidance before the charities money dried up.
</p>
<p>
  Fortunately the school has been taken over by SCoSL, a partner of Street Child. Hopefully at some point the finances to complete the project (around £7,000) can be found.
</p>
<p>
	<img src="{{bodyClass}}-24.jpg">
</p>
<p>
	<img src="{{bodyClass}}-25.jpg">
</p>
<p>
  The team in Freetown
</p>
<dl class="p">
  <div>
    <dt>Architect:</dt> <dd>Catriona Forbes<dd>
  </div>
  <div>
    <dt>Fixer:</dt> <dd>Lamin<dd>
  </div>
  <div>
    <dt>Horton St Crew:</dt> <dd>Brima, David, Bakar, Amara, Mr Mohammed, Francis, Alimami, Sao, Emile, Osman.</dd>
  </div>
  <div>
    <dt>Additional Carpentry:</dt> <dd>Ian Morris</dd>
  </div>
  <div>
    <dt>Electrician:</dt> <dd>Sheku</dd>
  </div>
<dl>
