---
title: Make Make Coffee
bodyClass: make-make-coffee
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">
  Olivia Abbot/Jonny Mundey, Haggerston, London
</div>
<p>
  I was approached by MMC to design and make a coffee cart for their pitch outside Haggerston Station. It was manufactured alongside Dynamic 3 at their workshop in SE23.
</p>
<p>
	<img src="{{bodyClass}}-1.jpg">
</p>
<p>
	<img src="{{bodyClass}}-2.jpg">
</p>
<p>
	<img src="{{bodyClass}}-3.jpg">
</p>
<p>
	<img src="{{bodyClass}}-4.jpg">
</p>
